body{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue";
    background: rgb(158,42,217);
    background: linear-gradient(90deg, rgba(158,42,217,1) 0%, rgba(238,255,0,1) 100%);
    margin-bottom: 50px;
}

.titulo{
    font-size: 40px;
    border: solid 5px black;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin-left: 500px;
    margin-right: 500px;  
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 25px;
    border: solid 5px black;
    padding: 5px;
    border-radius: 8px;
    background-color: aliceblue;
    padding-top: 10px;
    margin-top: 50px;
}

.titletwo{
    font-size: 25px;
    border: solid 5px black; 
    border-radius: 8px;
    background-color: aliceblue; 
    padding-left: 10px;
    padding-right: 10px;
}

p{
    font-size: 20px;
    border: solid 5px black;
    padding: 5px;
    border-radius: 8px;
    background-color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
}

button{
    background-color: white;
    font-size: 20px;
    font-weight: 5px;
    border-radius: 5px;
    border: solid 5px blue;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 25px;
}

.solicitação{
    font-size: 25px;
}
.inserir{
    font-size: 25px;
}

